<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        
        <div class="p-4">
            <h1>Dashboard</h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a routerLink="products">Products</a>
              
                </li>
                <li class="active">
                    <a routerLink="products">Categories</a>
                </li>

            </ul>
        </div>

    </nav>
    <div id="content" class="p-4 p-md-5 pt-5">
        
    </div>
</div>