<div class="">




    <form *ngIf="isLoaded" [formGroup]="productUpdateForm" class="form" (ngSubmit)="submit()">
      <h2> Formulaire</h2>
  
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput1" placeholder="entrer le nom produit"
          formControlName="nomControl">
        <label for="floatingInput1">Nom produit</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput2" placeholder="entrer le prix"
          formControlName="prixControl">
        <label for="floatingInput2">Prix</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
          formControlName="descControl"></textarea>
        <label for="floatingTextarea">description</label>
      </div>
  
      <div class="mb-3">
        <label for="formFile" class="form-label">Image du produit</label>
        <!-- <input class="form-control" type="file" id="formFile" formControlName="imageControl"
          (change)="onImageChange($event)"> -->
      </div>
      <label for="categorie" class="form-label">Categorie</label>
      <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="categorie"
        formControlName="categControl">
  
        <option *ngFor="let c of categories" [value]="c.id">{{c.nom}}</option>
      </select>
  
      <div class="d-flex">
        <button type="submit" class="btn btn-primary" >update</button>
        
      </div>
  
  
    </form>
  </div>