<div class="container">
    <h2>Datatable</h2>
    <h3 *ngIf="isChecked">test</h3>
    <table class="table table-hover table-bordered  ">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input mt-1" type="checkbox" value="selectAll" ng-model="all"> 
                </th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products">

                <td scope="row">
                    <input class="form-check-input mt-1" type="checkbox" ng-checked="all" (change)="toggleEditable($event)">
                 </td>
                <td id="id">{{prod.id}}</td>
                <td>{{prod.nom}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.image}}</td>

                <td >
                    <div class="dropdown">
                        <i class=" fa-solid fa-ellipsis-vertical " type="button" data-bs-toggle="dropdown" ></i>
                          
                        <ul class="dropdown-menu">
                            <li>
                                 <a class="dropdown-item" routerLink={{prod.id}}>
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                 <a class="dropdown-item" routerLink="{{prod.id}}/update">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </li>
                            <li>
                                 <a class="dropdown-item" (click)="onDelete(prod)">
                                    <i class="fa-regular fa-trash-can"></i>
                                  </a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="create"><button type="button" class="btn mt-2 btn-outline-primary"> Add product</button></a>
</div>