<!-- <section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg" id="img1">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                            edolore magna aliquapendisse ultrices gravida</p>
                            <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item  set-bg " id="img2">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                                </div>    
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item  set-bg" id="img3">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                                </div>    
                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-6 p-0" >
                        <div class="categories__item  set-bg" id="img4">
                            <div class="categories__text">
                                <h4>Cosmetics</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                                </div>    
                        </div>
                    </div><div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item  set-bg" id="img5">
                            <div class="categories__text">
                                <h4>Accessoies</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                                </div>    
                        </div>
                    </div>

                </div>
            </div>
        </div>
  
    </div>
</section> -->
<div class="body w-75 m-auto">
    <div id="carouselExampleSlidesOnly"  class="carousel-banner carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/carousal1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="../../../../assets/carousal1.webp" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div>
  <div class="service container-fluid">
    <div class="service-content d-flex justify-content-between " >
        <div class="service-box">
            <div class="service-img mb-3">
                <img src="../../../../assets/service-img1.png" alt="">
            </div>
            <div class="service-text">
                <h4>FREE SHIPPING WORLDWIDE</h4>
                <div class="service-desc">
                    Free shipping in the world
                </div>
            </div>
            
        </div>

        <div class="service-box">
            <div class="service-img mb-3">
                <img src="../../../../assets/service-img2.png" alt="">
            </div>
            <div class="service-text">
                <h4>24/7 CUSTOMER SUPPORT</h4>
                <div class="service-desc">
                    Service Support 24/7
                </div>
            </div>
            
        </div>

        <div class="service-box">
            <div class="service-img mb-3">
                <img src="../../../../assets/service-img3.png" alt="">
            </div>
            <div class="service-text">
                <h4>MONEY BACK CUARANTEE</h4>
                <div class="service-desc">
                    Money Back - 31 Days
                </div>
            </div>
            
        </div>
        
    </div>

  </div>

</div>

   