/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
}
div{
    display: block;
}
#notfound {
    position: relative;
    height: 100vh;


}
.notfound{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 410px;
    width: 100%;
    text-align: center;
}
.notfound-404{
    height: 280px;
    position: relative;
    z-index: -1;
}
.notfound .notfound-404 h1{
    font-family: montserrat,sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
  
    transform: translateX(-50%);
    background:url("../../../assets/bg.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: cover;
    background-position: center;
}
.notfound h2{
    font-family: montserrat,sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.notfound p {
    font-family: montserrat,sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.notfound a {
    font-family: montserrat,sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
   
    box-shadow: 0 4px 15px -5px #0046d5;
}
a:-webkit-any-link {

    cursor: pointer;
    
} */

.page404 {
    position: relative;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #ededed;
}
.page404Inner {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.page404Wrap {
    width: 100%;
}
.page404 .page404Title {
    margin: 0 0 50px;
    font-size: 170px;
    font-weight: 600;
    color: #ccc;
    line-height: 110px;
}
 h3{
    margin-top: 23px;
    margin-bottom: 11.5px;
}
.page404Des {
    margin-bottom: 20px;
    font-size: 14px;
}
.btn404 {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    background: #333333;
    border-radius: 2px;

}
.btn404:hover{

 
    background: #cba884;

}

.col-lg-8,.col-md-10,.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
 .col-xs-12 {
    float: left;
    width: 100%;
}
.page404Subtitle{
    font-weight: 700;
    line-height: 1.1;
    color: #333333;
}
.page404Des {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666666;
}