@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.form-control{
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    color: #666;
    padding: 9px 20px;
    font-size: 14px;
    line-height: 1.45;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
    box-shadow:none;
    border: 2px solid #cba884 ;
}
.sign-btn{
    width: 100%;
    background-color:#111111 ;
    color: white;
    border-radius: 2px;
    padding: 10px 30px;
    
}
.sign-btn span{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-family:'Roboto', sans-serif ;
}
.btn:hover{
    
    background-color:white ;
    color: #cba884;
    border-radius: 2px;
    border: 1px solid #cba884 ;

}
.forgot-btn{
  
    background-color:transparent ;
    color: #666666;
    border-radius: 2px;
    padding: 8px 25px;
    font-size: 12px;
    border: 1px solid #e1e1e1;
}


